@model IEnumerable<Piece>

<h2>Pieces</h2>

   <div style="display: block">
     <a href="/Piece/InsertPiece/">Create a New Piece</a>
 </div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    @foreach (var piece in @Model)
    {
            <tr>
                <td>@piece.PieceID</td>
                <td>@piece.Name</td>
                <td>@piece.Price</td>
                <td>@piece.Artist</td>
                <td>@piece.Image</td>
                <td>@piece.Description</td>
            </tr>
    }

</table>

<div style="display: block">
    <a href="/Piece/UpdatePiece/@Model.PieceID">Update this Piece</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeletePiece", "Piece", "Post"))
    {
            <input type="hidden" asp-for="PieceID" value="@Model.PieceID" />
            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this piece" />
    }
</div>