@model IEnumerable<Piece>

<h2>Pieces</h2>

   <div style="display: block">
     <a href="/Piece/InsertPiece/">Create a New Piece</a>
 </div>
<table class="table">
    <tr>
        <th>Piece ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Artist</th>
        <th>Description</th>
    </tr>

    @foreach (var piece in @Model)
    {
            <tr>
                <td>@piece.PieceID</td>
                <td>@piece.Name</td>
                <td>@piece.Price</td>
                <td>@piece.Image</td>
                <td>@piece.Artist</td>
                <td>@piece.Description</td>
            </tr>
    }

</table>

