@model Piece

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdatePieceToDatabase", "Piece", "Post"))
{
        <input asp-for="PieceID" type="hidden" value="@Model.PieceID" />

        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" name="Name" class="form-control" value="@Model.Name" />

             <label asp-for="Artist" class="control-label">Artist</label>
                <input type="text" name="Artist" class="form-control" value="@Model.Artist" />

             
                 <label asp-for="Description" class="control-label">Description</label>
                <input type="text" name="Description" class="form-control" value="@Model.Description" />

                     <label asp-for="Image" class="control-label">Image</label>
                    <input type="text" name="Image" class="form-control" value="@Model.Image" />

        <label asp-for="Price" class="control-label">Price</label>    
        <input type="number" step="0.01" name="Price" class="form-control" value="@Model.Price" />

        <input type="submit" value="Update Piece" class="btn btn-primary" />
}